<!-- views/partials/header.ejs -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="images/img_logo_small.png"></a>
        </div>
        <ul class="nav navbar-nav" id="navUl">
            <li><a href="/">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="/monitoring">Monitoring</a></li>
            <li><a href="/schematic">Schematic</a></li>
            <li><a href="/consumption">Consumption</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parts
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/devicemanager">Device Manager</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/datatable">Data Table</a></li>
                    <li><a href="/sensortest">Sensor Test</a></li>
                    <li><a href="/house">House</a></li>
                    <li><a href="/parts_ckp">Peč CKP</a></li>
                    <li><a href="/parts_casbs">Puffer CAS BS 801</a></li>
                    <li><a href="/parts_ckp">MIS ventil</a></li>
                </ul>
            </li>
            <li style="float:right"><a href="/about">About</a></li>
        </ul>
    </div>
</nav>

<script>

    $(document).ready(function () {

        var pathname = window.location.pathname;
        $('.nav > li > a[href="' + pathname + '"]').parent().addClass('active');

        var selector = '.nav li';
        $(selector).on('click', function () {
            //console.log(selector + " - clicked");
            $(selector).removeClass('active');
            $(this).addClass('active');  //no effect because reloading page
        });
    });

</script>