.my_container {
    height: 730px;
    width: 1183px;
    background: url("../images/img_basement_scheme.png") bottom no-repeat;
    background-color: #f6f6f6;
    display: block;
}

.detail_container {
    padding: 20px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding-top: 10px;
    border: 1px solid black;
    overflow: hidden;
    height: auto;
    margin-top: -1px;
    float:right;
}

.measure_point_box {
    background-color: rgba(133, 221, 102, 0);
    border: 1px;
    font-family: "Times New Roman", Times, serif;
    display: table;
    position: absolute;
}

.calculation_box {
    background-color: #1abc9c;
    border: 2px solid #990073;
    display: table;
    position: absolute;
    padding: 2px 10px 2px 10px;
}

.table_middle{
    display: table-cell;
    vertical-align: middle;
}

.box_a {
    display: table-cell;
    vertical-align: middle;
}

.box_b {
    display: table-cell;
    vertical-align: middle;
    background-color: #1abc9c;
}

.vertical {
    display:block;
    text-align: center;
}

.left {
    text-align: left;
}

p.small {
    line-height: 100%;
    font-size: 12px;
    color: #000000;
    margin: auto 5px;
}

p.dy-p-2 {
  margin-bottom: 1px;
}

.my_table{
    width:100%;
    color: #3c3c3c;
    margin-left: 0px;
}

