.my_container {
    width: 1200px;
    height: 800px;
    background: url("../images/img_basement_scheme.png") no-repeat;
    background-size: contain;
    position: relative;
    background-color: #f8f8f8;
    margin : 15px auto;
}

.detail_container {
    padding: 20px;
    background-color: rgb(192, 192, 192);
    display: flex;
    padding-top: 10px;
    border: 1px solid black;
    overflow: hidden;
    height: auto;
    margin-top: -1px;
    float:right;
}


.measure_point_box {
    background-color: rgba(133, 221, 102, 0);
    border: 1px;
    font-family: "Times New Roman", Times, serif;
    display: table;
    position: absolute;
}

.table_middle{
    display: table-cell;
    vertical-align: middle;
}

.box_a {
    display: table-cell;
    vertical-align: middle;
}

.box_b {
    display: table-cell;
    vertical-align: middle;
    background-color: #f3f3f3;
}

.vertical {
    display:block;
    text-align: center;
}

p.small {
    line-height: 100%;
    font-size: 12px;
    color: #000000;
    margin: auto auto;
    margin-left: 5px;
    margin-right: 5px;
}

.my_table{
    width:100%;
    color: #3c3c3c;
    margin-left: 0px;
}

