
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover{
    color: #d0d1df !important;
    background-color: #4b4b4b !important;
    background-image: none !important;
}

.navbar-nav > .active > a {
    color: #6898f4 !important;
    background-color: #3a4141 !important;
    background-image: none !important;
}
