
body {
    padding-top: 5px;
    line-height: 1.8;
    color: #606767;
    background-color: #4b4b4b;
    margin: 0px 5%;

}

p {
    font-size: 14px;
    color: #1d1d1d;
}

header {
    background-color: #0000FF;
}

footer {
    background-color: #2d2b2b;
}

.main_container{
    padding: 15px auto;
    background-color: #52ff70;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.center {
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    padding-top: 7px;
    padding-bottom: 7px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.dy-container{
    background-color: #d0fae9;
    padding: 25px;
}

