<!-- details/ckp.ejs -->

<div class="main_container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <h1>EKO CKP 25kW</h1>
                <img class="img-responsive center-block" src="images/img_ckp.png" alt="img1"/>
            </div>
        </div>
    </div>
</div>

