<!-- details/raspberry_pi.ejs -->

<div class="main_container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <h2>Raspberry Pi 3</h2>
                <p>Used as web server to run Node.js service and MySQL database to store data received from ESP8266.</p>
                <img class="img-responsive center-block" src="images/img_raspberry_pi.png" alt="img1"/>

                <p>So small, its markings can only be properly seen through a microscope or magnifying glass, the Broadcom BCM43438 chip provides 2.4GHz 802.11n wireless LAN, Bluetooth Low Energy, and Bluetooth 4.1 Classic radio support. Cleverly built directly onto the board to keep costs down, rather than the more common fully qualified module approach, its only unused feature is a disconnected FM radio receiver.</p>

                <b>SoC</b>
                <p>Built specifically for the new Pi 3, the Broadcom BCM2837 system-on-chip (SoC) includes four high-performance ARM Cortex-A53 processing cores running at 1.2GHz with 32kB Level 1 and 512kB Level 2 cache memory, a VideoCore IV graphics processor, and is linked to a 1GB LPDDR2 memory module on the rear of the board.
                </p>
            </div>
        </div>
    </div>
</div>

