<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<div class="main_container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <h1>ABOUT</h1>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
