<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basement</title>
    <% include ../partials/head %>

    <script src="angular/angular.js"></script>
    <script src="js/basic.js"></script>
</head>

<link rel="stylesheet" type="text/css" href="css/basic.css">
<link rel="stylesheet" type="text/css" href="css/basement.css">

<script>
  var liveApp = angular.module("liveApp", []);
  liveApp.controller("livectrl", function livectrl($scope, $http) {

    $scope.showDetailBox = false;
    $scope.mSelScreenSensor = {};  // {"screen_id":11, "sensor_id":102}
    $scope.mSensorList = [];
    $scope.mSelSensorParams = {};

    $scope.getSensorList = function () {
      console.log("getSensorList!");
      $http({
        method: 'GET',
        url: 'getallsensorparams'
      }).then(function (response) {
        $scope.mSensorList = response.data;
        console.log(">>>>>  mSensorList: " + JSON.stringify($scope.mSensorList));
      }, function (error) {
        console.log("getSensorList ERROR: " + error);
      });
    };
    $scope.getSensorList();   //call initially

    $scope.toggleDetailBox = function (screen_id) {
      console.log("toggleDetailBox for: " + screen_id);
      if (isEmptyObjectAngular(angular, $scope.mSelScreenSensor)){
        if ($scope.showDetailBox && screen_id === $scope.mSelScreenSensor.screen_id) {
          $scope.closeDetailBox();
        } else {
          $scope.showDetailBox = true;
          $scope.getSensorByScreenID(screen_id, () => {   //this will fill: mSelScreenSensor
            if (!isEmptyObjectAngular(angular, $scope.mSelScreenSensor)){
              console.log("toggleDetailBox: getSensorByScreenID mSelScreenSensor -> " + JSON.stringify($scope.mSelScreenSensor));
              let filterArr = $scope.mSensorList.filter(function(item){return item.id === $scope.mSelScreenSensor.sensor_id})
              $scope.mSelSensorParams = filterArr[0];
              console.log("toggleDetailBox: getSensorByScreenID mSelSensorParams -> " + JSON.stringify($scope.mSelSensorParams));
            }else{
              $scope.mSelScreenSensor = {};
              $scope.mSelSensorParams = {};
            }
          });
        }
      }else{
        console.log("toggleDetailBox: mSelScreenSensor is NULL or EMPTY");
        $scope.closeDetailBox();
      }
    }

    $scope.getSensorByScreenID = function (screen_id, callback) {
      console.log("getSensorByScreenID[" + screen_id + "]");
      $http({
        method: 'GET',
        url: 'getsensorbyscreenid/' + screen_id
      }).then(function (response) {
        //let sensorID = response.data[0].sensor_id;
        $scope.mSelScreenSensor = response.data[0];
        //console.log("toggleDetailBox: mSelScreenSensor A -> " + JSON.stringify($scope.mSelScreenSensor));
        callback();
      }, function (error) {
        console.log("getSensorByScreenID ERROR: " + error);
        callback();
      });
    }

    $scope.updateSelectBox = function () {
      console.log("updateSelectBox -> " + $scope.mSelSensorParams.sensor_name);
    }

    $scope.saveScreenSensor = function (idx) {
      console.log("Saving sensor - " + idx);
    };

    $scope.closeDetailBox = function () {
      $scope.showDetailBox = false;
      $scope.mSelScreenSensor = {};
      $scope.mSelSensorParams = {};
    };

  });
</script>

<body class="container" ng-app="liveApp" ng-controller="livectrl">
<header>
    <% include ../partials/header %>
</header>

<div class="center">
    <div class="row">
        <!-- ******* CONTAINER BOX ************************************************************************************* -->
        <div class="main_container" ng-class="showDetailBox ? 'col-xs-9' : 'col-xs-12'">
            <!-- point 01 -->
            <div class="measure_point_box" style="top: 0px; left: 0px">
                <div class="box_a">
                    <a href="#" ng-click='toggleDetailBox(10)'>
                        <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                    </a>
                </div>
                <div class="box_b">
                    <p class="small">ID: 101</p>
                    <p class="small">67.5°C</p>
                </div>
            </div>

            <!-- point 02 -->
            <div class="measure_point_box" style="top: 30px; left: 0px">
                <div class="box_a vertical">
                    <a href="#" ng-click='toggleDetailBox(11)'>
                        <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                    </a>
                </div>
                <div class="box_b vertical">
                    <p class="small">ID: 102</p>
                    <p class="small">77.5°C</p>
                </div>
            </div>

            <!-- point 03 -->
            <div class="measure_point_box" style="top: 502px; left: 290px">
                <div class="box_a vertical">
                    <a href="#" ng-click='toggleDetailBox(12)'>
                        <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                    </a>
                </div>
                <div class="box_b vertical">
                    <p class="small">ID: 102</p>
                    <p class="small">77.5°C</p>
                </div>
            </div>
        </div>

        <!-- ******* DETAILS BOX *************************************************************************************** -->
        <div class="detail_container" ng-class="showDetailBox ? 'col-xs-3' : 'hidden'">
            <div>
                <img src="images/img_measure_point_small.png" alt="mp"/>
            </div>
            <div>
                <table style="width:100%; margin-left: 20px">
                    <tr>
                        <th>SCREEN ID:</th>
                        <td><b>{{mSelScreenSensor.screen_id}}</b></td>
                    </tr>
                    <tr>
                        <th>SENSOR ID:</th>
                        <td><b>{{mSelSensorParams.id}}</b></td>
                    </tr>
                    <tr>
                        <th>MID</th>
                        <td><b>{{mSelSensorParams.sensor_mid}}</b></td>
                    </tr>
                    <tr>
                        <th>NAME</th>
                        <td><b>{{mSelSensorParams.sensor_name}}</b></td>
                    </tr>
                    <tr>
                        <th>ALARM MIN</th>
                        <td><b>{{mSelSensorParams.alarm_min}}</b></td>
                    </tr>
                    <tr>
                        <th>ALARM MAX</th>
                        <td><b>{{mSelSensorParams.alarm_max}}</b></td>
                    </tr>

                </table>

                <div>
                    <p class="inline">SELECT SENSOR</p>
                    <select class="selectpicker inline"
                            style="margin-bottom: 10px;"
                            ng-change="updateSelectBox()"
                            ng-model="mPickerSensor"
                            ng-options="sensor.id for sensor in mSensorList">
                    </select>
                </div>

                <div style="margin-bottom: 5px;">
                    <button ng-click="saveScreenSensor($index)" class="btn btn-success">Save</button>
                    <button ng-click="closeDetailBox()" class="btn btn-danger">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
