<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basement</title>
    <% include ../partials/head %>

    <script src="angular/angular.js"></script>
    <script src="js/basic.js"></script>
</head>

<link rel="stylesheet" type="text/css" href="css/basic.css">
<link rel="stylesheet" type="text/css" href="css/basement.css">

<script>
  var basementApp = angular.module("basementApp", []);
  basementApp.controller("basementCtrl", function basementCtrl($scope, $http) {

    $scope.showDetailBox = false;
    $scope.mActiveSensor = null;  // {"screen_id":11, "sensor_id":102}
    $scope.mBasementList = [];
    $scope.mCapacity = 0;
    $scope.mPowerCKP = 0;
    $scope.mPowerRAD = 0;

    $scope.getBasementList = function () {
      console.log("getBasementList!");
      $http({
        method: 'GET',
        url: 'getbasementsensordata'
      }).then(function (response) {
        console.log("getBasementList - data loaded!");
        $scope.mBasementList = response.data;
        $scope.calculateCapacity();
        $scope.calculatePower();
        //console.log(">>>>>  mBasementList: " + JSON.stringify($scope.mBasementList));
      }, function (error) {
        console.log("getBasementList ERROR: " + error);
      });
    };
    $scope.getBasementList();   //call initially

    $scope.toggleDetailBox = function (screen_id) {
      console.log("toggleDetailBox for: " + screen_id);
      if (isEmptyObject($scope.mActiveSensor)) {
        console.log("A");
        $scope.getSensorByScreenID(screen_id, () => {     //this will fill: mActiveSensor
          $scope.showDetailBox = true;
        });
      } else {
        if ($scope.mActiveSensor.screen_id !== screen_id) {
          $scope.getSensorByScreenID(screen_id, () => {     //this will fill: mActiveSensor
            $scope.showDetailBox = true;
          });
        } else {
          $scope.closeDetailBox();
        }
      }
    }

    $scope.getSensorByScreenID = function (screen_id, callback) {
      console.log("getSensorByScreenID -> " + screen_id);
      let filterArr = $scope.mBasementList.filter(function (item) {
        return item.screen_id === screen_id
      })
      console.log("filterArr -> " + JSON.stringify(filterArr));
      $scope.mActiveSensor = filterArr[0];

      if (isEmptyObject($scope.mActiveSensor)) {
        $scope.mActiveSensor = {
          screen_id: screen_id
        };
      }

      console.log("mActiveSensor -> " + JSON.stringify($scope.mActiveSensor));
      callback();
    }

    $scope.updateSelectBox = function () {
      console.log("updateSelectBox -> " + $scope.mPickerSensor.sensor_id);
    }

    $scope.saveScreenSensor = function () {
      let screen_id = $scope.mActiveSensor.screen_id;
      let sensor_id = $scope.mPickerSensor.sensor_id
      console.log("Saving -> screen_id: " + screen_id + ", sensor_id: " + sensor_id);
      $http({
        method: 'GET',
        url: 'savescreensensor/' + screen_id + "/" + sensor_id
      }).then(function (response) {
        let status = response.data.status;
        console.log("saveScreenSensor: " + status);

        //$scope.getSensorByScreenID(screen_id, () => {     //this will fill: mActiveSensor
        //  $scope.showDetailBox = true;
        //});
        $scope.closeDetailBox();

      }, function (error) {
        console.log("saveScreenSensor ERROR: " + error);
      });
    };

    $scope.closeDetailBox = function () {
      $scope.showDetailBox = false;
      $scope.mActiveSensor = null;

    };

    $scope.calculateCapacity = function () {
      let sumPuffTemp =
        parseFloat($scope.mBasementList[0].sensor_value) +
        parseFloat($scope.mBasementList[1].sensor_value) +
        parseFloat($scope.mBasementList[2].sensor_value) +
        parseFloat($scope.mBasementList[3].sensor_value);
      console.log("sumPuffTemp = " + sumPuffTemp);
      let averageTemp = sumPuffTemp / 4;
      console.log("averageTemp = " + averageTemp);

      const rangeMin = 20;  //from 20°C as 0%
      const rangeMax = 70;  //from 60°C as 100%
      let percVal = 100 * (averageTemp - rangeMin) / (rangeMax - rangeMin)

      $scope.mCapacity = parseInt(percVal);
    };


    $scope.calculatePower = function () {
      //P = Q * Cp * ro * dT;     Q[m3/s], Cp[J/kg°C], ro[kg/m3], dT[T2-T1]
      const Q = 1.7 / 60 / 60;    //flow -> 1.7 m3/h
      const Cp = 4200;            //heat capacity of water
      const ro = 1000;            //water density
      const t2_ckp = $scope.mBasementList[4].sensor_value;  //ckp_pol
      const t1_ckp = $scope.mBasementList[5].sensor_value;  //ckp_pov
      const t2_rad = $scope.mBasementList[7].sensor_value;  //rad_pol
      const t1_rad = $scope.mBasementList[8].sensor_value;  //rad_pov
      const dt_ckp = t2_ckp - t1_ckp;
      const dt_rad = t2_rad - t1_rad;
      $scope.mPowerCKP = parseInt(Q * Cp * ro * dt_ckp / 1000);
      $scope.mPowerRAD = parseInt(Q * Cp * ro * dt_rad / 1000);

      console.log("calculatePower: mPowerCKP -> " + $scope.mPowerCKP);
      console.log("calculatePower: mPowerRAD -> " + $scope.mPowerRAD);

    };

  });
</script>

<body ng-app="basementApp" ng-controller="basementCtrl">
<header>
    <% include ../partials/header %>
</header>

<div class="main_container" style="display: flex">
    <div class="center">
        <div class="col-md-12">
            <!-- ******* CONTAINER BOX *********************** -->
            <div class="my_container">
                <!-- ******* DETAILS BOX ************************* -->
                <div class="detail_container" ng-show=showDetailBox>
                    <div>
                        <img src="images/img_measure_point_small.png" alt="mp"/>
                    </div>
                    <div style="margin-left: 10px;">
                        <table class="my_table">
                            <tr style="color: #dd3f4e; font-size: 18px;">
                                <th>SCREEN ID:</th>
                                <td><b>{{mActiveSensor.screen_id}}</b></td>
                            </tr>
                            <tr>
                                <th>SENSOR ID:</th>
                                <td><b>{{mActiveSensor.sensor_id}}</b></td>
                            </tr>
                            <tr>
                                <th>MID</th>
                                <td><b>{{mActiveSensor.sensor_mid}}</b></td>
                            </tr>
                            <tr>
                                <th>NAME</th>
                                <td><b>{{mActiveSensor.sensor_name}}</b></td>
                            </tr>
                            <tr>
                                <th>ALARM MIN</th>
                                <td><b>{{mActiveSensor.alarm_min}}</b></td>
                            </tr>
                            <tr>
                                <th>ALARM MAX</th>
                                <td><b>{{mActiveSensor.alarm_max}}</b></td>
                            </tr>

                        </table>

                        <div class="line"></div>

                        <div class="table_middle" style="background-color: #1abc9c;">
                            <p class="inline" style="margin-bottom: 0;">CHANGE SENSOR</p>
                            <select class="selectpicker inline"
                                    ng-change="updateSelectBox()"
                                    ng-model="mPickerSensor"
                                    ng-options="sensor.sensor_id for sensor in mBasementList">
                            </select>
                        </div>

                        <div style="margin-top: 15px; margin-bottom: 10px; width:100%;">
                            <button ng-click="saveScreenSensor()" class="btn btn-success">Save</button>
                            <button ng-click="closeDetailBox()" class="btn btn-danger">Close</button>
                        </div>
                    </div>
                </div>

                <!-- screenID: 10, sensorID: 100, name: puffer 4 -->
                <div class="measure_point_box" style="top: 365px; left: 725px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(10)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[0].screen_id}}</p>
                        <p class="small">{{mBasementList[0].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 11, sensorID: 102, name: puffer 3 -->
                <div class="measure_point_box" style="top: 445px; left: 725px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(11)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[1].screen_id}}</p>
                        <p class="small">{{mBasementList[1].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 12, sensorID: 106, name: puffer 2 -->
                <div class="measure_point_box" style="top: 525px; left: 725px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(12)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[2].screen_id}}</p>
                        <p class="small">{{mBasementList[2].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 13, sensorID: 108, name: puffer 1 -->
                <div class="measure_point_box" style="top: 605px; left: 725px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(13)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[3].screen_id}}</p>
                        <p class="small">{{mBasementList[3].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 14, sensorID: 105, name: CKP POL -->
                <div class="measure_point_box" style="top: 417px; left: 204px">
                    <div class="box_a vertical">
                        <a href="#" ng-click='toggleDetailBox(14)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b vertical">
                        <p class="small">ID: {{mBasementList[4].screen_id}}</p>
                        <p class="small">{{mBasementList[4].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 15, sensorID: 107, name: CKP_POV -->
                <div class="measure_point_box" style="top: 650px; left: 196px">
                    <div class="box_a vertical">
                        <a href="#" ng-click='toggleDetailBox(15)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b vertical">
                        <p class="small">ID: {{mBasementList[5].screen_id}}</p>
                        <p class="small">{{mBasementList[5].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 16, sensorID: 104, name: CKP_JEZGRA -->
                <div class="measure_point_box" style="top: 425px; left: 10px">
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[6].screen_id}}</p>
                        <p class="small">{{mBasementList[6].sensor_value}}°C</p>
                    </div>
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(16)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                </div>

                <!-- screenID: 17, sensorID: 101, name: RADI_TOPLA -->
                <div class="measure_point_box" style="top: 312px; left: 990px">
                    <div class="box_b vertical">
                        <p class="small">ID: {{mBasementList[7].screen_id}}</p>
                        <p class="small">{{mBasementList[7].sensor_value}}°C</p>
                    </div>
                    <div class="box_a vertical">
                        <a href="#" ng-click='toggleDetailBox(17)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                </div>

                <!-- screenID: 18, sensorID: 103, name: RADI_HLADNA -->
                <div class="measure_point_box" style="top: 624px; left: 1027px">
                    <div class="box_a vertical left">
                        <a href="#" ng-click='toggleDetailBox(18)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b vertical">
                        <p class="small">ID: {{mBasementList[8].screen_id}}</p>
                        <p class="small">{{mBasementList[8].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 19, sensorID: 109, name: SOBA -->
                <div class="measure_point_box" style="top: 150px; left: 150px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(19)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[9].screen_id}}</p>
                        <p class="small">{{mBasementList[9].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- screenID: 20, sensorID: 110, name: VANI -->
                <div class="measure_point_box" style="top: 100px; left: 100px">
                    <div class="box_a">
                        <a href="#" ng-click='toggleDetailBox(20)'>
                            <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                        </a>
                    </div>
                    <div class="box_b">
                        <p class="small">ID: {{mBasementList[10].screen_id}}</p>
                        <p class="small">{{mBasementList[10].sensor_value}}°C</p>
                    </div>
                </div>

                <!-- calculation -->
                <div class="calculation_box" style="top: 565px; left: 622px; text-align: center">
                    <p class="dy-p-2">CAPACITY</p>
                    <p class="small">{{mCapacity}}%</p>
                </div>


                <!-- power boxes  -->
                <!-- P = Q + Cp + ro + dT;    Q[m3/s], Cp[J/kg°C], ro[kg/m3], dT[T2-T1] -->
                <div class="calc_power_box" style="top: 568px; left: 64px; text-align: center">
                    <p class="dy-p-2">POWER - CKP</p>
                    <p class="small">{{mPowerCKP}}kW</p>
                </div>

                <div class="calc_power_box" style="top: 430px; left: 1100px; text-align: center">
                    <p class="dy-p-2">POWER - RAD</p>
                    <p class="small">{{mPowerRAD}}kW</p>
                </div>

            </div>

        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
