<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basement</title>
    <% include ../partials/head %>
</head>

<body class="container">
<header>
    <% include ../partials/header %>
</header>

<link rel="stylesheet" type="text/css" href="css/basement.css">

<div class="row">

        <div class="tag">Spoj sa mjernim to훾kama</div>

        <div class="scheme_container">

            <!-- point 01 -->
            <div class="measure_point_box" style="top: 0px; left: 0px">
                <div class="box_a">
                    <a href="#" rel="comments">
                        <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                    </a>

                </div>
                <div class="box_b">
                    <p class="small">ID: 101</p>
                    <p class="small">67.5째C</p>
                </div>
            </div>

            <!-- point 02 -->
            <div class="measure_point_box" style="top: 30px; left: 0px">
                <div class="box_a vertical">
                    <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                </div>
                <div class="box_b vertical">
                    <p class="small">ID: 102</p>
                    <p class="small">77.5째C</p>
                </div>
            </div>

            <!-- point 03 -->
            <div class="measure_point_box" style="top: 502px; left: 290px">
                <div class="box_a vertical">
                    <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                </div>
                <div class="box_b vertical">
                    <p class="small">ID: 102</p>
                    <p class="small">77.5째C</p>
                </div>
            </div>

            <!-- popover - measure point detail -->
            <div class="popover_box" style="top: 5px; left: 630px">
                <div>
                    <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                </div>
                <div class="table_middle popover_content">
                    <p style="margin-bottom: 0px;">WEB TAG: 01</p>
                    <select class="selectpicker"
                            style="margin-bottom: 10px;"
                            ng-change="updateSelectBox()"
                            ng-model="selSensorParams"
                            ng-options="sensor.id for sensor in mSensorList">
                    </select>
                    <div style="margin-bottom: 5px;">
                        <button ng-click="sensorSave($index)" class="btn btn-success">Save</button>
                        <button ng-click="reset()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>

            <!-- popover - measure point detail -->
            <div class="popover_box" style="top: 5px; left: 630px">
                <div>
                    <img src="images/img_measure_point_small.png" alt="basement scheme"/>
                </div>
                <div class="table_middle popover_content">
                    <p style="margin-bottom: 0px;">WEB TAG: 01</p>
                    <select class="selectpicker"
                            style="margin-bottom: 10px;"
                            ng-change="updateSelectBox()"
                            ng-model="selSensorParams"
                            ng-options="sensor.id for sensor in mSensorList">
                    </select>
                    <div style="margin-bottom: 5px;">
                        <button ng-click="sensorSave($index)" class="btn btn-success">Save</button>
                        <button ng-click="reset()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</div>



<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
