<!-- views/pages/consumption.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consumption</title>
    <% include ../partials/head %>

    <script src="/angular/angular.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>  <!-- for DatePicker -->

    <script src="/angular-spinner/dist/angular-spinner.min.js"></script>

    <script src="/angular-google-chart/ng-google-chart.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<script type="text/javascript">
    //-------------------------------------------------------------------------------------

    var extScope;

    var angularApp = angular.module('myApp', ['ui.bootstrap', 'angularSpinner']);
    angularApp.controller('getConsumptionCtrl', ['$scope', '$http', 'usSpinnerService', function ($scope, $http, usSpinnerService) {
        extScope = $scope;
        $scope.mConsumptionArr = [];
        $scope.loadingPeriod = 0;       //loading time range
        $scope.activeFromDate = 0;
        $scope.activeToDate = 0;
        $scope.needToReloadData = true;

        //spinner
        //********************************************************************************************************************
        $scope.startSpin = function () {
            usSpinnerService.spin('spinner-1');
        }
        $scope.stopSpin = function () {
            usSpinnerService.stop('spinner-1');
        }

        var fNow = new Date();
        var f1Day = (new Date()).setDate(fNow.getDate() - 1);
        var f7Day = (new Date()).setDate(fNow.getDate() - 1);
        var f14Day = (new Date()).setDate(fNow.getDate() - 1);
        var f1Month = (new Date()).setMonth(fNow.getMonth() - 1);
        var f2Month = (new Date()).setMonth(fNow.getMonth() - 2);
        var f3Month = (new Date()).setMonth(fNow.getMonth() - 3);

        $scope.setInitiaDate = function () {
            $scope.fromDate = f1Day;
            $scope.toDate = fNow.getTime();  //unix timestamp
            $scope.activeFromDate = $scope.fromDate;
            $scope.activeToDate = $scope.toDate;
        };
        $scope.setInitiaDate();

        $scope.updateTimeRange = function () {
            console.log("updateTimeRange");
            if (($scope.activeFromDate != $scope.fromDate) || ($scope.activeToDate != $scope.toDate)) {
                $scope.needToReloadData = true;
            } else {
                $scope.needToReloadData = false;
            }
        };

        $scope.f1Day = function () {
            $scope.fromDate = f1Day;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        $scope.f7Day = function () {
            $scope.fromDate = f7Day;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        $scope.f14Day = function () {
            $scope.fromDate = f14Day;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        $scope.f1Month = function () {
            $scope.fromDate = f1Month;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        $scope.f2Month = function () {
            $scope.fromDate = f2Month;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        $scope.f3Month = function () {
            $scope.fromDate = f3Month;
            console.log("fromDate is set to: " + $scope.fromDate);
            $scope.updateTimeRange();
        };

        //---------------------------------------------------
        $scope.reloadData = function () {
            $scope.startSpin();
            let fromD = Math.floor($scope.fromDate / 1000);
            let toD = Math.floor($scope.toDate / 1000);
            $scope.activeFromDate = $scope.fromDate;
            $scope.activeToDate = $scope.toDate;
            $scope.updateTimeRange();
            $scope.loadingPeriod = (toD - fromD);   //in days
            console.log("selected time range: " + $scope.loadingPeriod + " day/s");
            loadConsumptionForRange(fromD, toD);
        };

        $scope.refreshChart = function () {
            if ($scope.needToReloadData) {
                console.log("refreshGraph: needToReloadData");
                $scope.reloadData();
            } else {
                console.log("refreshGraph: NO needToReloadData");
                drawData();
            }
        };
        $scope.refreshChart();        //initially load

        $scope.clear = function () {
            $scope.fromDate = null;
            $scope.toDate = null;
        };

    }]);  // END - angularApp.controller

    //********************************************************************************************************************
    // CHART PART
    google.charts.load('current', {'packages':['bar']});


    function loadConsumptionForRange(fromuxdate, touxdate) {
        $.ajax({
            type: 'GET',
            url: '/getconsumptionforrange/' + fromuxdate + '/' + touxdate,
            success: function (result) {
                console.log("result.length -> " + result.length);
                //console.log("mSensorData -> " + JSON.stringify(result));
                mConsumptionArr = result;
                //extScope.needToReloadData = false;
                angular.element(document.getElementById('moduleHolder')).scope().stopSpin();
                //google.setOnLoadCallback(drawChart());
                google.charts.setOnLoadCallback(drawChart);
            }
        });
    };


    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Day', 'Consumption'],
            ['1', 1000],
            ['2', 1170],
            ['3', 660],
            ['4', 800],
            ['5', 820],
            ['6', 700],
            ['7', 840]
        ]);

        var options = {
            chart: {
                title: 'Consumption',
                subtitle: 'annual consumption by day',
            },
            bars: 'vertical',
            vAxis: {format: 'decimal'},
            height: 400,
            colors: ['#1b9e77', '#d95f02', '#7570b3']
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        /*var btns = document.getElementById('btn-group');
        btns.onclick = function (e) {
            if (e.target.tagName === 'BUTTON') {
                options.vAxis.format = e.target.id === 'none' ? '' : e.target.id;
                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        }*/
    }

</script>

<body id="moduleHolder" ng-app="myApp" ng-controller="getConsumptionCtrl">
<header>
    <% include ../partials/header %>
</header>

<div class="main_container" style="display: block">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner"
          spinner-start-active="stop"></span>

    <div class="row-eq-height align-items-center" style="display: flex;flex-wrap: wrap;">

        <div class="col-md-6 dy_group_box">

            <div class="col-md-12">
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Day()">1 day</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f7Day()">7 day</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f14Day()">14 day</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Month()">1 month</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f2Month()">2 month</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f3Month()">3 month</button>
                <h5>time range: {{loadingPeriod}} h</h5>

            </div>
        </div>

        <div class="col-md-5 dy_group_box">
            <button type="button" class="btn btn-md btn-success" ng-click="refreshChart()">REFRESH</button>
            <div>kWh: <input type="checkbox" ng-model="cbUnit_kwh" ng-init="checked=true"></div>
            <div>kg: <input type="checkbox" ng-model="cbUnit_kg" ng-init="checked=true"></div>
            <div>logs: <input type="checkbox" ng-model="cbUnit_logs" ng-init="checked=true"></div>
        </div>

    </div>

    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>



<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>