<!-- views/pages/consumption.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consumption</title>
    <% include ../partials/head %>

    <script src="/angular/angular.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>  <!-- for DatePicker -->

    <script src="/angular-spinner/dist/angular-spinner.min.js"></script>

    <script src="/angular-google-chart/ng-google-chart.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<script type="text/javascript">
    //-------------------------------------------------------------------------------------

    var extScope;

    var angularApp = angular.module('myApp', ['ui.bootstrap', 'angularSpinner']);
    angularApp.controller('getConsumptionCtrl', ['$scope', '$http', 'usSpinnerService', function ($scope, $http, usSpinnerService) {
        extScope = $scope;
        $scope.mConsumptionArr = [];
        $scope.loadingPeriod = 1;       //loading day range, 4 days
        $scope.activePeriod = 0;
        $scope.needToReloadData = true;

        //spinner
        //********************************************************************************************************************
        $scope.startSpin = function () {
            usSpinnerService.spin('spinner-1');
        }
        $scope.stopSpin = function () {
            usSpinnerService.stop('spinner-1');
        }

        $scope.updateTimeRange = function () {
            console.log("updateTimeRange");
            if (($scope.activePeriod != $scope.loadingPeriod)) {
                $scope.needToReloadData = true;
            } else {
                $scope.needToReloadData = false;
            }
        };

        $scope.f1Day = function () {
            $scope.loadingPeriod = 1;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        $scope.f1Week = function () {
            $scope.loadingPeriod = 7;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        $scope.f1Month = function () {
            $scope.loadingPeriod = 30;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        $scope.f6Month = function () {
            $scope.loadingPeriod = 180;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        $scope.f1Year = function () {
            $scope.loadingPeriod = 365;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        $scope.f2Year = function () {
            $scope.loadingPeriod = 630;
            console.log("loadingPeriod -> " + $scope.loadingPeriod);
            $scope.updateTimeRange();
        };

        //---------------------------------------------------
        $scope.reloadData = function () {
            $scope.startSpin();

            $scope.updateTimeRange();
            console.log("selected loadingPeriod: " + $scope.loadingPeriod + " day/s");
            loadConsumptionForRange($scope.loadingPeriod);
        };

        $scope.refreshChart = function () {
            if ($scope.needToReloadData) {
                console.log("refreshGraph: needToReloadData");
                $scope.reloadData();
            } else {
                console.log("refreshGraph: NO needToReloadData");
                drawData();
            }
        };
        $scope.refreshChart();        //initially load

        $scope.clear = function () {
            $scope.fromDate = null;
            $scope.toDate = null;
        };

    }]);  // END - angularApp.controller

    //********************************************************************************************************************
    // CHART PART
    google.charts.load('current', {'packages':['bar']});


    function loadConsumptionForRange(loadingPeriod) {
        $.ajax({
            type: 'GET',
            url: '/getconsumptionforrange/' + loadingPeriod,
            success: function (result) {
                console.log("result.length -> " + result.length);
                //console.log("mSensorData -> " + JSON.stringify(result));
                mConsumptionArr = result;
                //extScope.needToReloadData = false;
                angular.element(document.getElementById('moduleHolder')).scope().stopSpin();
                //google.setOnLoadCallback(drawChart());
                google.charts.setOnLoadCallback(drawChart);
            }
        });
    };


    function drawChart() {
        /*var data = google.visualization.arrayToDataTable([
            ['Day', 'Consumption'],
            ['1', 1000],
            ['2', 1170],
            ['3', 660],
            ['4', 800],
            ['5', 820],
            ['6', 700],
            ['7', 840]
        ]);*/

        var chartDataArr = [];
        let graphParamArr = [];
        graphParamArr.push({label: 'Date', type: 'datetime'});
        graphParamArr.push({label: 'mass', type: 'number'});
        chartDataArr.push(graphParamArr);

        /*
        chartDataArr.push([new Date(1515542400000), 34]);
        chartDataArr.push([new Date(1515628800000), 40]);
        chartDataArr.push([new Date(1515715200000), 44]);
        chartDataArr.push([new Date(1515801600000), 37]);
        chartDataArr.push([new Date(1515888000000), 26]);
        chartDataArr.push([new Date(1515974400000), 30]);
        chartDataArr.push([new Date(1516060800000), 36]);
        */


        for (var i = 0; i < mConsumptionArr.length; i += 1) {
            let tsStr = mConsumptionArr[i].ts;
            let value = mConsumptionArr[i].value;
            let tsInt = parseInt(tsStr * 1000);
            chartDataArr.push([new Date(tsInt), value]);
        }

        console.log("chartDataArr -> " + JSON.stringify(chartDataArr));

        var data = google.visualization.arrayToDataTable(chartDataArr);

        var options = {
            chart: {
                title: 'Consumption',
                subtitle: 'annual consumption by day',
            },
            bars: 'vertical',
            bar: { groupWidth: '20%' },
            legend: {position: 'none'},
            vAxis: {
                title: 'weight',
                format: 'decimal'
            },
            hAxis: {
                title: 'day',
                format: 'dd.MM'
            },
            height: 400,
            colors: ['#93a7fb', '#d95f02'],
            backgroundColor: '#f6f6f6'
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        /*var btns = document.getElementById('btn-group');
        btns.onclick = function (e) {
            if (e.target.tagName === 'BUTTON') {
                options.vAxis.format = e.target.id === 'none' ? '' : e.target.id;
                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        }*/



    }

</script>

<body id="moduleHolder" ng-app="myApp" ng-controller="getConsumptionCtrl">
<header>
    <% include ../partials/header %>
</header>

<div class="main_container" style="display: block">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner"
          spinner-start-active="stop"></span>

    <div class="row-eq-height align-items-center" style="display: flex;flex-wrap: wrap;">

        <div class="col-md-6 dy_group_box">

            <div class="col-md-12">
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Day()">1 day</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Week()">1 week</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Month()">1 month</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f6Month()">6 month</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f1Year()">1 year</button>
                <button type="button" class="btn btn-sm btn-info" ng-click="f2Year()">2 year</button>
                <h5>time range: {{loadingPeriod}} h</h5>

            </div>
        </div>

        <div class="col-md-5 dy_group_box">
            <button type="button" class="btn btn-md btn-success" ng-click="refreshChart()">REFRESH</button>
            <div>kWh: <input type="checkbox" ng-model="cbUnit_kwh" ng-init="checked=true"></div>
            <div>kg: <input type="checkbox" ng-model="cbUnit_kg" ng-init="checked=false"></div>
            <div>m3: <input type="checkbox" ng-model="cbUnit_m3" ng-init="checked=false"></div>
        </div>

    </div>

    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>



<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>