<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datatable</title>
    <% include ../partials/head %>

    <script src="angular/angular.js"></script>
    <script src="ng-table-bundle/ng-table.min.js"></script>
</head>

<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>

<script type="text/javascript">
  var liveApp = angular.module("liveApp", []);
  liveApp.controller("livectrl", function livectrl($scope, $http) {

    $scope.mDataList = [];

    $scope.getData = function () {
      console.log("getData!");
      $http({
        method: 'GET',
        url: 'getallsensorsdata'
      }).then(function (response) {
        console.log("getData - LOADED!");
        $scope.mDataList = response.data;
      }, function (error) {
        console.log("getallsensorsdata ERROR: " + error);
      });
    };
    $scope.getData();  //initial data load

  });

</script>

<body class="container">
<header>
    <% include ../partials/header %>

</header>


<div ng-app="liveApp" ng-controller="livectrl">

    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Latest</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <th>DATE</th>
                                <th>USER NAME</th>
                                <th>DEVICE NAME</th>
                                <th>MID</th>
                                <th>SENSR NAME</th>
                                <th>VALUE</th>
                            </tr>
                            <tr ng-repeat="row in mDataList | orderBy : 'timestamp'">
                                <td>{{row.sensor_id}}</td>
                                <td>{{row.rtimestamp}}</td>
                                <td>{{row.user_name}}</td>
                                <td>{{row.device_name}}</td>
                                <td>{{row.sensor_mid}}</td>
                                <td>{{row.sensor_name}}</td>
                                <td>{{row.sensor_value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>