<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Device Manager</title>
    <% include ../partials/head %>

    <script src="angular/angular.js"></script>
    <script src="ng-table-bundle/ng-table.min.js"></script>
</head>

<script type="text/javascript">
  var liveApp = angular.module("liveApp", []);
  liveApp.controller("livectrl", function livectrl($scope, $http) {
    $scope.model = {
      sensorList: [],
      sensorSelected: {}
    };

    $scope.getData = function () {
      console.log("getData!");
      $http({
        method: 'GET',
        url: 'getallsensorparams'
      }).then(function (response) {
        $scope.model.sensorList = response.data;
      }, function (error) {
        console.log("getallsensorparams ERROR: " + error);
      });
    };
    $scope.getData();  //initial data load

    $scope.updateSensorParams = function (newSensor) {
      console.log("getData!");
      $http({
        method: 'POST',
        url: 'updatesensorparams',
        data: JSON.stringify(newSensor)
      }).then(function (response) {
      }, function (error) {
        console.log("getallsensorparams ERROR: " + error);
      });
    };

    $scope.getstudList = function (sensor) {
      if (sensor.id === $scope.model.sensorSelected.id) return 'edit';
      else return 'display';
    };
    $scope.sensorEdit = function (sensor) {
      $scope.model.sensorSelected = angular.copy(sensor);
    };
    $scope.sensorSave = function (idx) {
      console.log("Saving sensor - " + idx);
      let newSensor = angular.copy($scope.model.sensorSelected);
      $scope.model.sensorList[idx] = newSensor;

      $scope.updateSensorParams(newSensor);
      $scope.reset();
    };
    $scope.reset = function () {
      $scope.model.sensorSelected = {};
    };
  });

</script>

<body>
<header>
    <% include ../partials/header %>
</header>

<div class="main_container">
    <div ng-app="liveApp" ng-controller="livectrl">

        <div class="row">
            <div class="center">
                <div class="col-md-12">

                    <div class="panel panel-primary">
                        <div class="panel-heading">CONTROL PANEL</div>
                        <div class="panel-body">
                            <div class="col-md-6" style="background-color: #1abc9c">
                                <div class="panel panel-info">
                                    <div class="panel-heading">ROOM TEMPERATURE</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="ex1">current room reading:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" id="ex1" type="text" title="24.45°C">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button class="btn-info">STORE TO UPLOAD</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="background-color: #756ebc">
                                <div class="panel panel-info">
                                    <div class="panel-heading">TEST DEVICES</div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Sensor data</div>
                        <div class="panel-body">
                            <table class="table" style="font-size: 13px">
                                <thead>
                                <tr>
                                    <th class="col-sm-1">ID</th>
                                    <th class="col-sm-1">TYPE</th>
                                    <th class="col-sm-1">MID</th>
                                    <th class="col-sm-2">ADDRESS</th>
                                    <th class="col-sm-3">NAME</th>
                                    <th class="col-sm-1">MIN</th>
                                    <th class="col-sm-1">MAX</th>
                                    <th class="col-sm-2">ACTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sensor in model.sensorList" ng-include="getstudList(sensor)">
                                </tr>
                                </tbody>
                            </table>

                            <script type="text/ng-template" id="display">
                                <td>{{sensor.id}}</td>
                                <td>{{sensor.sensor_type}}</td>
                                <td>{{sensor.sensor_mid}}</td>
                                <td>{{sensor.sensor_address}}</td>
                                <td>{{sensor.sensor_name}}</td>
                                <td>{{sensor.alarm_min}}</td>
                                <td>{{sensor.alarm_max}}</td>
                                <td>
                                    <button ng-click="sensorEdit(sensor)" class="btn btn-primary">Edit</button>
                                </td>
                            </script>
                            <script type="text/ng-template" id="edit">
                                <td>
                                    <input type="text" class="form-control" ng-model="model.sensorSelected.id"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           ng-model="model.sensorSelected.sensor_type"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="model.sensorSelected.sensor_mid"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           ng-model="model.sensorSelected.sensor_address"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           ng-model="model.sensorSelected.sensor_name"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="model.sensorSelected.alarm_min"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="model.sensorSelected.alarm_max"/>
                                </td>
                                <td>
                                    <button ng-click="sensorSave($index)" class="btn btn-success">Save</button>
                                    <button ng-click="reset()" class="btn btn-danger">Cancel</button>
                                </td>
                            </script>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">User data</div>
                        <div class="panel-body">
                            some text
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Device data</div>
                        <div class="panel-body">
                            some text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
