<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>


<div class="main_container" style="display: flex; flex-direction: column">
    <div class="center">
        <div class="col-md-12">
            <!-- ******* CONTAINER BOX *********************** -->
            <div class="my_container" style="display: block;">
                <h3>Welcome to Home Monitoring System</h3>
                <img class="img-responsive center-block" src="images/img_system_color_small.png"
                     style="margin-top: 50px">
                <div style="height: 190px;"></div>      <!-- fill screen box -->
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>