<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<div class="main_container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <img src="images/img_logo_large.png">
        </div>
    </div>
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Smart Home</h1>
                    <p>Welcome to Home Monitoring System</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>