<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="row">
    <div class="center">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Smart Home</h1>
                <p>Welcome to Home Monitoring System</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>