<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>


<div class="main_container" style="display: flex; flex-direction: column">
    <div class="center">
        <div class="col-sm-12">
            <!-- ******* CONTAINER BOX *********************** -->
            <div class="container">

                <div class="row-eq-height align-items-center" style="display: flex;flex-wrap: wrap; margin-top: 50px">
                    <div class="col-sm-3 col-sm-offset-1">
                        <img class="img-responsive center-block" src="images/img_main_page_left.png">
                    </div>

                    <div class="col-sm-4">
                        <img class="img-responsive center-block" src="images/img_system_color_small.png">
                    </div>

                    <div class="col-sm-3">
                        <img class="img-responsive center-block" src="images/img_main_page_right.png">
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-3 col-sm-offset-1">
                        <h4>MONITORING</h4>
                        <p>Easy monitoring of the central heating system with built-in alarm system that sends the alarm to the mobile device in failure or over
                            temperature. The system is connected to a total of 13 sensors of which 11 are temperature sensors placed in critical locations. Two
                            sensors are connected to the pumps so they can monitor their operation. The system is set so that every minute of the electronics
                            performs readings from the sensor and the results are sent to the server where they are stored in the base.</p>
                    </div>

                    <div class="col-sm-4">
                        <h4>SYSTEM</h4>
                        <p>The system consists essentially of two parts: ELECTRONICS and PROGRAMS, which together form an autonomous system for automatic control.
                            The system is connected to the Internet so surveillance can be done anywhere, so that it can be set up by your own
                            a server that is available 24 hours a day. Raspberry Pi 3 was used for the server, where api-service and web applications were set up.</p>
                        <p><b>ELECTRONICS</b></p>
                        <ul style="list-style-type:disc">
                            <li>ESP28266 (NodeMCU - arduino based)</li>
                            <li>DS1820 - temperature sensor</li>
                        </ul>

                        <p><b>SOFTWARE</b></p>
                        <ul style="list-style-type:disc">
                            <li>android application</li>
                            <li>api-service</li>
                            <li>web-application</li>
                            <li>esp8266 firmware</li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h4>CONSUMPTION</h4>
                        <p>The system continually performs measurements, so any data can be tracked from this data at any time. It also allows for time
                            tracking energy consumption throughout the year.</p>
                    </div>
                </div>

                <div style="height: 30px;"></div>      <!-- fill screen box -->
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>