<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div ng-app="myApp" ng-controller="Controller as ctrl">
    <button ng-click="ctrl.func">execute func</button>
    <angularchart dataset="ctrl.dataset" schema="ctrl.schema" options="ctrl.options"></angularchart>
</div>

<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
