<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test sensor</title>
    <% include ../partials/head %>

    <script src="angular/angular.js"></script>
    <script src="angular-google-chart/ng-google-chart.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<script type="text/javascript">
  var angularApp = angular.module('myApp', []);
  angularApp.controller('getSensorCtrl', function ($scope, $http) {

    //-----------------------------------------------
    $scope.mSensorList = [];
    $scope.selSensorData = {};

    $scope.getSensorList = function () {
      console.log("getSensorList!");
      $http({
        method: 'GET',
        url: 'getallsensorparams'
      }).then(function (response) {
        $scope.mSensorList = response.data;
        //console.log(">>>>>  mSensorList: " + JSON.stringify($scope.mSensorList));
      }, function (error) {
        console.log("getSensorList ERROR: " + error);
      });
    };
    $scope.getSensorList();  //initial data load


    $scope.getLatestMeasurementForSensorID = function () {
      console.log("getLatestMeasurementForSensorID");
      $http({
        method: 'GET',
        url: 'getlatestsensormeasurement/' + $scope.selSensorParams.id
      }).then(function (response) {
        console.log("getLatestMeasurementForSensorID - DONE");
        $scope.selSensorData = response.data[0];
        console.log("selSensorData: " + JSON.stringify($scope.selSensorData));
        drawChart();
      }, function (error) {
        console.log("getlatestsensormeasurement ERROR: " + error);
      });
    };


    $scope.updateSelectBox = function () {
      console.log("updateSelectBox");
      console.log("selSensorParams -> " + $scope.selSensorParams.sensor_name);
      $scope.getLatestMeasurementForSensorID();
    }


    <!-- ........ GAUGE VIEW........ -->
    //-----------------------------------------------------------------------
    google.charts.load('current', {'packages': ['gauge']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['sensor 1', 80]
      ]);

      var options = {
        width: 400, height: 120,
        greenFrom: 50, greenTo: 80,
        yellowFrom: 80, yellowTo: 90,
        redFrom: 90, redTo: 100,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('gauge_div'));
      var sen1val = 0;
      if ($scope.selSensorData) {
        sen1val = $scope.selSensorData.sensor_value;
      } else {
        sen1val = 0;
      }

      data.setValue(0, 1, sen1val);
      chart.draw(data, options);
    }


  });
</script>

<body ng-app="myApp" ng-controller="getSensorCtrl">
<header>
    <% include ../partials/header %>
</header>

<div class="main_container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info class">
                <div class="panel-heading">LATEST SENSOR MEASUREMENTS</div>
                <div class="panel-body">
                    <div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-sm-4">
                                <div style="margin-bottom: 20px">
                                    <h6>Select sensor to tracking</h6>
                                    <select class="selectpicker"
                                            ng-change="updateSelectBox()"
                                            ng-model="selSensorParams"
                                            ng-options="sensor.id for sensor in mSensorList">
                                    </select>
                                </div>
                                <div>
                                    <button
                                            ng-click="getLatestMeasurementForSensorID()"
                                            type="button"
                                            class="btn btn-default">Refresh
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <h4>Analog temp.</h4>
                                <div id="gauge_div" style="width: 400px; height: 120px;"></div>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <th>TYPE</th>
                                <th>MID</th>
                                <th>NAME</th>
                                <th>VALUE</th>
                            </tr>
                            <tr>
                                <td>{{selSensorData.sensor_id}}</td>
                                <td>{{selSensorData.sensor_type}}</td>
                                <td>{{selSensorData.sensor_mid}}</td>
                                <td>{{selSensorData.sensor_name}}</td>
                                <td>{{selSensorData.sensor_value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>
